__MACOSX/
post_training_data.jsonl
Llama-3.1-8B-Instruct/
trainingdata1.jsonl
trainingdata2.jsonl
trainingdata3.jsonl
llama3_finetuned
nohup.out
influencer_keywords_bigbird.jsonl
influencer_recommendation_data.jsonl
keywords_bigbird_checkpoint.jsonl
mistral_finetuned
qwen_finetuned
inflencer_embeddings_checkpoint.npz
keywords_bigbird.jsonl
faiss_index_flatIP.idx
faiss_index_flatL2.idx
recommend_influencer/*.idx
recommend_influencer/*.npz
recommend_influencer/*.jsonl
env 